/* PHONES */
@media screen and (max-width: 767px) {

	html[dir="ltr"] .ipsComment_content,
	html[dir="ltr"] .ipsComment_subComments .ipsComment_content {
		margin-left: 0;
	}
	html[dir="ltr"] .ipsComment_content,
	html[dir="ltr"] .ipsComment_subComments .ipsComment_content {
		margin-right: 0;
	}

	html[dir="ltr"] .ipsComment_subComments {
		margin-left: 0;
		padding: 15px 0 0 0;
	}
	html[dir="rtl"] .ipsComment_subComments {
		margin-right: 0;
		padding: 15px 0 0 0;
	}

	.ipsComment_parent > .ipsComment > .ipsComment_content:before {
		display: none;
	}

	.ipsComment [data-role="commentContent"] {
		margin-bottom: 10px;
	}
}